/* Add a black background color to the top navigation */
:root {
    --silver : #7c8290;
    --gold : #4f3e13;
    --brown : #382e1f;
    --gray : #686964;
    --lbrown: #4d4742;
    --white: #f2f2f2;
    --black: black;
}
.topnav {
    background-color: var(--brown);
    overflow-x: hidden;
    position:fixed;
    z-index: 1;
    top:0;
    left:0;
    height:100%;
    width:160px;
  }
  
  /* Style the links inside the navigation bar */
.topnav a {
    color: var(--white);
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display:block;
  }
  
  /* Change the color of links on hover */
.topnav a:hover {
    background-color: var(--gold);
    color: var(--black);
  }
  
  /* Add a color to the active/current link */
.topnav a.active {
    background-color: var(--silver);
    color: var(--white);
  }


body {
      background-color: var(--gray);
  }

.footer {
    background-color: var(--lbrown);
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    text-align: center;
}

.links{
    width:100%;
    display:flex;
    justify-content: center;
    
}

.links div {
    float:left;
    padding: 10px;
    text-align: center;
}

.redact {
    background-color: var(--black);
}

.main{
  margin-left:160px;
  padding:0px 10px;
}